<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../public/home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>
<body>
  <div class="main-container">
    <header class="header">
      <nav class="nav-bar">
        <img src="../../assets/logo.jpg" alt="logo" class="logo" />
          <ul class="nav-bar-links">
            <li>
              <img src="../../assets/search-icon.svg" alt="search" class="search-icon"/>
            </li>
            <li>
              <a class="index-link" href="/">Inicio</a>
            </li>
            <li>
              <a class="help-link" href="/">Ayuda</a>
            </li>
          </ul>
            <div class="icon-container">
              <img class="cart-icon" src="../../assets/shopping-cart-icon.svg" alt="cart-icon" />
              <img class="user-icon" src="../../assets/user-icon.svg" alt="user-icon" />
            </div>
      </nav>
    </header> 
     
    <footer class="footer">
      <div class="copyright">
        <p>©2023 Lydian,INC.</p>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Deja tu opinión</a></li>
          <li><a href="#">Más</a></li>
        </ul>
      </div>
      <div class="logo-footer">
        <img class="footer-logo" src="../../assets/logo.jpg" alt="logo-footer" />
      </div>
      <div class="social-links">
        <img class="facebook-icon" src="../../assets/facebook-icon.svg" alt="facebook-icon" />
        <img class="whatsapp-icon"src="../../assets/whatsapp-icon.svg" alt="whatsapp-icon" />
        <img class="instagram-icon" src="../../assets/instagram-icon.svg" alt="instagram-icon" />

      </div>
    </footer>
  </div>
</body>
</html>